body {
  margin: 0;
  font-family: Aveny-T-Bold, Aveny-T-Light, DIN-Pro-Bold, DIN-Pro-Medium,
    DIN-Pro-Regular;
  color: #131313;
}

.page_container {
  margin: 24px;
}
header {
  display: inline-flex;
  margin-bottom: 20px;
}
.ucas-logo {
  height: 40px;
}
.header_text {
  margin: 0px 20px;
  font-family: "Aveny-T-Bold";
}
.ucas-context {
  max-width: 600px;
}
h1,
h2,
h3,
h4 {
  font-family: "Aveny-T-Bold";
}
p {
  font-family: "Aveny-T-Light";
}
