body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.page_container {
  margin: 24px;
}
header {
  display: inline-flex;
  margin-bottom: 20px;
}
.ucas-logo {
  height: 40px;
}
.header_text {
  margin: 0px 20px;
}
.ucas-context {
  max-width: 600px;
}
