body {
  font-family: DINPro, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: #131313;
}
.content_box {
  display: flex;
  border: 1px solid #ddd;
  min-width: calc((((100% + 30px) / 12) - 30px) * 6 + 150px);
  max-width: calc((((100% + 30px) / 12) - 30px) * 6 + 150px);
  background-color: #f3f3f3;
  padding: 30px;
}
.content_box_inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content-box__heading {
  margin: 0px;
  color: #767676;
}
.content_box_heading_meta_text {
  font-family: DINPro, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.4;
  display: inline-flex;
  align-items: center;
  margin-bottom: 8px;
}
.richtext {
  font-family: DINPro, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 0.875rem;
  line-height: 1.57;
  margin: 15px 0;
  color: inherit;
  margin-bottom: 1.875rem;
  margin-top: 1.25rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}
@media (min-width: 768px) {
  .content_box {
    padding: 30px;
  }
  .content-box__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content_box_heading_meta_text {
    font-size: 0.875rem;
    line-height: 1.57;
  }
  .key-info__items {
    grid-gap: 30px;
    grid-template-areas: "a b";
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .key-info_item-value {
    font-size: 3.75rem;
    line-height: 0.92;
  }
}
.content_box_heading_meta_text {
  font-family: DINPro, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.4;
  display: inline-flex;
  align-items: center;
}
.qualfication_conetents {
  display: grid;
  gap: 10px;
  margin-top: 16px;
}
.qualfication_conetent_qualfication {
  grid-column: 1;
}
.qualfication_conetent_grade {
  grid-column: 2;
}
.qualfication_conetents_text {
  border: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
}
.qualfication_conetents_select {
  display: block;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.4;
  color: #767676;
  padding: 0.6em 1.4em 0.5em 0em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin-top: 8px;
  border: 0px;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  appearance: none;
  background-color: #fff;
  background-image: url("./down.svg");
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 1.4em auto, 100%;
}
.qualfication_conetents_select:active,
.qualfication_conetents_select:hover {
  border-color: hsl(267, 52%, 49%);
  outline: hsl(267, 52%, 49%);
}
.qualfication_conetents_add {
  border: 2px solid hsl(267, 52%, 49%);
  width: 35%;
  padding: 15px;
  margin: 20px 0px;
  background: hsl(267, 52%, 49%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
  cursor: pointer;
}
.qualfication_conetents_add:hover {
  background: hsl(0, 0%, 100%);
  color: hsl(267, 52%, 49%);
}
.qualfication_table {
  font-size: 0.8em;
  border-spacing: 0px;
}
.qualfication_table,
.qualfication_table_body_row,
.qualfication_table_body_details {
  border: 1px solid #ddd;
}
.qualfication_table_header {
  font-size: 1em;
}
.qualfication_table_row {
  font-size: 1em;
}
.qualfication_table_head {
  padding: 16px;
}
.qualfication_table_body {
  font-size: 1em;
}
.qualfication_table_body_row {
  font-size: 1em;
}
.qualfication_table_body_row:nth-child(1) {
  display: none;
}
.qualfication_table_body_details {
  padding: 16px;
}
.qualfication_table_delete {
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.qualfication_table_delete_text {
  color: hsl(267, 52%, 49%);
  font-weight: 600;
  padding-right: 4px;
}
.qualfication_table_delete_button {
  color: red;
}
.qualfication_table_delete_last {
  display: none;
}
.key_info {
  background-color: hsl(267, 52%, 49%);
  color: hsl(0, 0%, 100%);
}
.key-info_items {
  grid-template-areas:
    "a"
    "b";
  grid-template-columns: 1fr;
  display: -ms-grid;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.key-info_items-title-cta {
  font-family: AvenyT, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
.key_info_items_title {
  margin-top: 10px;
  font-size: 0.75rem;
}
